server:
  port: 8084  # User: 8081, Flight: 8082, Hotel: 8083, Booking: 8080, Payment: 8084, Notification: 8085
spring:
  application:
    name: payment-service  
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
logging:
  level:
    root: INFO
    com.travel: DEBUG